[submodule "nvim/pack/submodules/start/fugitive"]
	path = nvim/pack/submodules/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "nvim/pack/submodules/start/abolish"]
	path = nvim/pack/submodules/start/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "nvim/pack/submodules/start/surround"]
	path = nvim/pack/submodules/start/surround
	url = git@github.com:tpope/vim-surround
[submodule "nvim/pack/submodules/start/neomake"]
	path = nvim/pack/submodules/start/neomake
	url = git@github.com:neomake/neomake.git
[submodule "nvim/pack/submodules/start/repeat"]
	path = nvim/pack/submodules/start/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "nvim/pack/submodules/start/qf"]
	path = nvim/pack/submodules/start/qf
	url = git@github.com:romainl/vim-qf.git
[submodule "nvim/pack/submodules/start/mundo"]
	path = nvim/pack/submodules/start/mundo
	url = git@github.com:simnalamburt/vim-mundo.git
[submodule "nvim/pack/submodules/start/fzf"]
	path = nvim/pack/submodules/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "nvim/pack/submodules/start/nrun"]
	path = nvim/pack/submodules/start/nrun
	url = git@github.com:jaawerth/nrun.vim.git
[submodule "nvim/pack/submodules/start/rust"]
	path = nvim/pack/submodules/start/rust
	url = git@github.com:rust-lang/rust.vim.git
[submodule "nvim/pack/submodules/start/neoformat"]
	path = nvim/pack/submodules/start/neoformat
	url = git@github.com:sbdchd/neoformat.git
[submodule "nvim/pack/submodules/start/commentary"]
	path = nvim/pack/submodules/start/commentary
	url = git@github.com:tpope/vim-commentary
[submodule "nvim/pack/submodules/start/unimpaired"]
	path = nvim/pack/submodules/start/unimpaired
	url = git@github.com:tpope/vim-unimpaired
[submodule "nvim/pack/submodules/start/rainbow_parentheses.vim"]
	path = nvim/pack/submodules/start/rainbow_parentheses.vim
	url = git@github.com:junegunn/rainbow_parentheses.vim
[submodule "nvim/pack/submodules/start/expand-region"]
	path = nvim/pack/submodules/start/expand-region
	url = git@github.com:terryma/vim-expand-region
[submodule "nvim/pack/submodules/start/completion-nvim"]
	path = nvim/pack/submodules/start/completion-nvim
	url = git@github.com:nvim-lua/completion-nvim.git
[submodule "nvim/pack/submodules/start/lspconfig"]
	path = nvim/pack/submodules/start/lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "nvim/pack/submodules/start/rhubarb"]
	path = nvim/pack/submodules/start/rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule "nvim/pack/submodules/start/indentLine"]
	path = nvim/pack/submodules/start/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "nvim/pack/submodules/start/treesitter"]
	path = nvim/pack/submodules/start/treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/submodules/start/apprentice"]
	path = nvim/pack/submodules/start/apprentice
	url = git@github.com:romainl/Apprentice.git
[submodule "nvim/pack/submodules/start/zenburn"]
	path = nvim/pack/submodules/start/zenburn
	url = git@github.com:jnurmine/Zenburn.git
